@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
}

body{
    overflow-x: hidden;
    /* overflow: hidden; */
}

.main-width{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}

.hero{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-position: center;
    position: relative;
}

header{
    padding: 40px 0 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 55px;
    width: 55px;
    background: transparent;
    border: 2px solid #2ecc71;
    color: #2ecc71;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

nav .nav-list{
    list-style: none;
}

nav .nav-list li{
    display: inline-block;
}

nav .nav-list li a{
    display: inline-block;
    color: #eee;
    margin-left: 50px;
}

nav .nav-list li:not(:last-child) a:hover{
    color: #2ecc71;
    transition: .4s;
}

nav .nav-list li.btn a{
    display: inline-block;
    background: transparent;
    border: 2px solid #2ecc71;
    padding: 9px 28px;
    border-radius: 30px;
    line-height: 1.3;
    color: #2ecc71;
    font-weight: 500;
}

nav .nav-list li.btn:hover a{
    background: #2ecc71;
    color: white;
    border: 2px solid transparent;
    transition: 4s;
}

.container{
    padding-top: 180px;
}

.container .hero-text{
    margin-bottom: 40px;
}

.container .hero-text h1{
    color: white;
    font-size: 47px;
    font-weight: 400;
    line-height: 1.2;
    margin: 20px 0 20px;
}

.container .hero-text h3{
    color: #eee;
    font-weight: 400;
    font-size: 17px;
}

.container .hero-text p{
    width: 440px;
    max-width: 100%;
    color: #eee;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.social a{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #eee;
    cursor: pointer;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 35px;
}

.social a:hover{
    transform: scale(1.1);
    background: #2ecc71;
    transition: .2s;
}

.container .hero-text button{
    color: #eee;
    background: #2ecc71;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 30px;
    border: 2px solid #2ecc71;
    border-radius: 30px;
    cursor: pointer;
}
.container .hero-text button a{
    color: #eee;
}

.container .hero-text button:hover{
    background: transparent;
    border: 2px solid #2ecc71;
    color: #2ecc71;
    transition: .2s;
}

.image{
    width: 80%;
    margin-bottom: 30px;   
}

.container .flex{
    display: flex;
}

.container .flex .pic{
    position: absolute;
    right: 5%;
    top: 25%;
}

.cont, .con{
    max-width: 440px;
    padding: 0 20px;
    margin: 100px auto;
}

.contain{
    max-width: 600px;
    padding: 0 20px;
    margin: 100px auto;
}

.cont .wrapper{
    width: 100%;
    background: transparent;
    border: 1px solid #2ecc71;
    border-radius: 5px;
    height: 560px;
}

.contain .wrapper, .con .wrapper{
    width: 100%;
    background: transparent;
    border: 1px solid #2ecc71;
    border-radius: 5px;
}

.wrapper .title{
    line-height: 90px;
    background: #2ecc71;
    text-align: center;
    border-radius: 5px 5px 0 0;
    color: #eee;
    font-size: 25px;
    font-weight: 600;
}

.wrapper form{
    padding: 30px 25px 25px 25px;
}

.wrapper form .row{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.wrapper form .pass{
    margin: -8px 0 20px 0;
}

.wrapper form .pass a{
    color: #2ecc71;
    font-size: 17px;
}

.wrapper form .pass a:hover{
    text-decoration: underline;
}

.wrapper form .row input, .wrapper form .row select{
    height: 100%;
    width: 100%;
    padding-left: 60px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 16px;

}

.wrapper form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    color: #eee;
    font-size: 18px;
    background: #2ecc71;
    border: 1px solid #2ecc71;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form .button input{
    padding-left: 0;
    background: transparent;
    border: 1px solid #2ecc71;
    cursor: pointer;
    color: #eee;
    
}

.cont .wrapper form .button input{
    position: relative;
    top: 190px;
}


form .button input:hover{
    background: #2ecc71;
}

.wrapper form .signup-link{
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}

.wrapper form .signup-link a{
    color: #2ecc71;
    font-size: 18px; 
}

form .signup-link a:hover{
    text-decoration: underline;
}

.buttom{
    margin-top: 200px;
    padding-bottom: 40px;
}

.buttom p{
    color: #eee;
    letter-spacing: 2px;
    font-size: 15px;
    text-align: center;
    
}

.row textarea{
    width: 100%;
    padding-left: 60px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 16px;
}

@media screen and (max-width: 1500px){

    .image{
        width: 60%; 
    }
    
    
    .container .flex .pic{
        position: absolute;
        right: -15%;
        top: 25%;
    }
}

@media screen and (max-width: 930px) {
    nav .nav-list{
        position: absolute;
        right: 10%;
        top: 3%;
        
    }

    nav .nav-list li{
        margin-left: 20px;
        margin-top: 10px;
    }

    nav .nav-list li a{
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        margin-left: 10px;
    }

    nav .nav-list li.btn a{ 
        padding: 7px 15px;
        font-size: 14px;
    }

    .image{
        width: 100%; 
    }
    
    .container .flex{
        display: flex;
    }
    
    .container .flex .pic{
        position: relative;
        right: 10%;
        top: 20%;
        
    }
}



@media screen and (max-width: 768px){

    nav .nav-list{
       top: 100px;
    }

    nav .nav-list li.btn a{
        position: absolute;
        top: -90%;
        left: 75%;
        
        
    }

    .container{
        padding-top: 100px;
    }

    .container .hero-text{
        position: relative;
        left: 8%;
    }

    .container .hero-text p{
        width: 300px;
        max-width: 100%;
        color: #eee;
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 30px;
        
    }

    .container .buttom p{
        text-align: center;
    }

    /* .skill{

        margin-top: 10px;
    }

    .skill p{
        width: 440px;
        max-width: 100%;
        color: #eee;
        font-size: 15px;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 30px;
        padding: 10px;
    }
    
    .skill ul{
        margin: 25px;
    }
    
    .skill li{
        color: #eee;
        font-size: 15px;
        line-height: 1.5;
        text-align: center;
        list-style: georgian;
        
    } */

    .buttom p{
        color: #eee;
        letter-spacing: 2px;
        font-size: 15px;
        
    }

    .container .flex{
        display: inline-block;
    }
    
    .container .flex .pic{
        left: 0px;
        bottom: 10px;
         
    }
}

@media screen and (max-width: 425px){

     nav .nav-list li.btn a{
         position: absolute;
         top: -150%;
         left: 70%;
         
         
     }

     nav .nav-list li a{
        font-size: 15px;
    }
 
     .container{
         padding-top: 80px;
     }
 

}


